<p>employee-info works!</p>
<button (click)="(employees!.length > 0) ? getEmptyArrayFromService() : getEmployeesFromService()">{{(employees!.length > 0) ? "reset" : "call service" | uppercase}}</button>
<div [ngSwitch]="employees!.length">
    <div *ngSwitchCase="0">click to fetch data 🔃</div>
    <div *ngSwitchDefault>data fetched ✅</div>
</div>
<ul class="list-group">
    <li *ngFor="let employee of employees" class="list-group-info">{{employee?.name}} - {{employee?.code}} - {{employee?.email}}</li>
</ul>